{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MOVIE</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"  integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
<nav class="navbar bg-body-tertiary" >
  <div class="container-fluid">
       <a class="navbar-brand" href="/">HOME</a>
       <a class="navbar-brand" href="#">FAVOURITE MOVIES</a>
      <a class="navbar-brand" href="{% url 'movieapp:add' %}">ADD NEW</a>
  </div>
</nav>
{% block body %}
{% endblock %}
</body>
</html>